<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="jumbotron" >
  <h1>
    Welcomkje to {{ title }}!
  </h1>
  <!-- <img width="300" alt="Angular Logo" src="assets/alvo.png"> -->
  <!-- <foto *ngFor="let foto of fotos" url="{{foto.url}}" titulo="{{foto.titulo}}" ></foto> -->

  <div class="container">
    <div class="row">

      <div class="col-sm-2" *ngFor="let foto of fotos">

          <app-card-foto [foto]="foto"></app-card-foto>
      </div>
    </div>
  </div>
  <!-- <foto *ngFor="let foto of fotos" [foto]="foto" ></foto> -->
  <!-- [] torna a variavel dinamica -->
  
</div>